In [8]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import json
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/yelp-dataset/Dataset_User_Agreement.pdf
/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json

## Installing Packages

In [9]:
!pip install --upgrade pyodbc
!pip install sqlalchemy
!pip install pyodbc sqlalchemy
!pip install ipython-sql pyodbc
!pip install ipython-sql
!pip install pyodbc
from sqlalchemy import create_engine
import sqlalchemy
import pandas as pd
import urllib

Requirement already satisfied: pyodbc in /opt/conda/lib/python3.10/site-packages (5.2.0)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.10/site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: pyodbc in /opt/conda/lib/python3.10/site-packages (5.2.0)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.10/site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: pyodbc in /opt/conda/lib/python3.10/site-packages (5.2.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.21.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.21.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: pyodbc in /opt/conda/lib/python3.10/site-packages (5.2.0)

## Database Connection Setup and Data Loading from Yelp Dataset

In [10]:
!pip install pyodbc

!apt-get update

!apt-get install -y unixodbc unixodbc-dev
 
# Download Microsoft SQL Server ODBC driver 17

!curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -

!curl https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/prod.list | tee /etc/apt/sources.list.d/mssql-release.list

!apt-get update

!ACCEPT_EULA=Y apt-get install -y msodbcsql17

Requirement already satisfied: pyodbc in /opt/conda/lib/python3.10/site-packages (5.2.0)
Hit:1 https://packages.microsoft.com/ubuntu/20.04/prod focal InRelease
Hit:2 https://packages.cloud.google.com/apt gcsfuse-focal InRelease
Hit:3 https://packages.cloud.google.com/apt cloud-sdk InRelease
Hit:4 http://archive.ubuntu.com/ubuntu focal InRelease
Hit:5 http://security.ubuntu.com/ubuntu focal-security InRelease
Hit:6 http://archive.ubuntu.com/ubuntu focal-updates InRelease
Hit:7 http://archive.ubuntu.com/ubuntu focal-backports InRelease
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  libodbc1 odbcinst odbcinst1debian2
Suggested packages:
  unixodbc-bin
The following packages will be upgraded:
  libodbc1 odbcinst odbcinst1debian2 unixodbc unixodbc-dev
5 upgraded, 0 newly installed, 0 to remove and 60 not upgraded.
Need to get 701 kB of archives.
After this operation, 252 kB disk space will be freed.
Get:1 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 odbcinst amd64 2.3.11-1 [21.3 kB]
Get:2 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 unixodbc-dev amd64 2.3.11-1 [42.4 kB]
Get:3 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 odbcinst1debian2 amd64 2.3.11-1 [99.8 kB]
Get:4 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 libodbc1 amd64 2.3.11-1 [486 kB]
Get:5 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 unixodbc amd64 2.3.11-1 [51.5 kB]
Fetched 701 kB in 0s (7436 kB/s)
(Reading database ... 116443 files and directories currently installed.)
Preparing to unpack .../odbcinst_2.3.11-1_amd64.deb ...
Unpacking odbcinst (2.3.11-1) over (2.3.6-0.1ubuntu0.1) ...
Preparing to unpack .../unixodbc-dev_2.3.11-1_amd64.deb ...
Unpacking unixodbc-dev (2.3.11-1) over (2.3.6-0.1ubuntu0.1) ...
Preparing to unpack .../odbcinst1debian2_2.3.11-1_amd64.deb ...
Unpacking odbcinst1debian2:amd64 (2.3.11-1) over (2.3.6-0.1ubuntu0.1) ...
Preparing to unpack .../libodbc1_2.3.11-1_amd64.deb ...
Unpacking libodbc1:amd64 (2.3.11-1) over (2.3.6-0.1ubuntu0.1) ...
Preparing to unpack .../unixodbc_2.3.11-1_amd64.deb ...
Unpacking unixodbc (2.3.11-1) over (2.3.6-0.1ubuntu0.1) ...
Setting up libodbc1:amd64 (2.3.11-1) ...
Setting up odbcinst (2.3.11-1) ...
Setting up odbcinst1debian2:amd64 (2.3.11-1) ...
Setting up unixodbc (2.3.11-1) ...
Setting up unixodbc-dev (2.3.11-1) ...
Processing triggers for libc-bin (2.31-0ubuntu9.16) ...
Processing triggers for man-db (2.9.1-1) ...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   983  100   983    0     0  19202      0 --:--:-- --:--:-- --:--:-- 19274
OK
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    89  100    89    0     0   1850      0 --:--:-- --:--:-- --:--:--  1893
deb [arch=amd64,armhf,arm64] https://packages.microsoft.com/ubuntu/20.04/prod focal main
Hit:1 https://packages.microsoft.com/ubuntu/20.04/prod focal InRelease
Hit:2 https://packages.cloud.google.com/apt gcsfuse-focal InRelease
Hit:3 https://packages.cloud.google.com/apt cloud-sdk InRelease
Hit:4 http://archive.ubuntu.com/ubuntu focal InRelease
Hit:5 http://security.ubuntu.com/ubuntu focal-security InRelease
Hit:6 http://archive.ubuntu.com/ubuntu focal-updates InRelease
Hit:7 http://archive.ubuntu.com/ubuntu focal-backports InRelease
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
msodbcsql17 is already the newest version (17.10.6.1-1).
0 upgraded, 0 newly installed, 0 to remove and 60 not upgraded.

In [11]:
# Create SQLAlchemy engine
username = 'gyao6'  
password = 'badm554!'       
server = 'gyao6.database.windows.net'
database = 'Miniproject-1'
connection_string = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server&connect_timeout=30"
engine = create_engine(connection_string)

In [12]:
# Create the connection string
connection_string = f"mssql+pyodbc://{username}:{password}@{server}:1433/{database}?driver=ODBC+Driver+17+for+SQL+Server"

# Create the engine
engine = create_engine(connection_string)

In [13]:
%load_ext sql
%sql $connection_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Reading Business JSON File into Pandas DataFrame

In [14]:
df = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json', lines = True)
df.info()
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB
              business_id                      name  \
0  Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ
1  mpf3x-BjTdTEA3yCZrAYPw             The UPS Store
2  tUFrWirKiKi_TAnsVWINQQ                    Target
3  MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries
4  mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery

                           address           city state postal_code  \
0           1616 Chapala St, Ste 2  Santa Barbara    CA       93101
1  87 Grasso Plaza Shopping Center         Affton    MO       63123
2             5255 E Broadway Blvd         Tucson    AZ       85711
3                      935 Race St   Philadelphia    PA       19107
4                    101 Walnut St     Green Lane    PA       18054

    latitude   longitude  stars  review_count  is_open  \
0  34.426679 -119.711197    5.0             7        0
1  38.551126  -90.335695    3.0            15        1
2  32.223236 -110.880452    3.5            22        0
3  39.955505  -75.155564    4.0            80        1
4  40.338183  -75.471659    4.5            13        1

                                          attributes  \
0                      {'ByAppointmentOnly': 'True'}
1             {'BusinessAcceptsCreditCards': 'True'}
2  {'BikeParking': 'True', 'BusinessAcceptsCredit...
3  {'RestaurantsDelivery': 'False', 'OutdoorSeati...
4  {'BusinessAcceptsCreditCards': 'True', 'Wheelc...

                                          categories  \
0  Doctors, Traditional Chinese Medicine, Naturop...
1  Shipping Centers, Local Services, Notaries, Ma...
2  Department Stores, Shopping, Fashion, Home & G...
3  Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4                          Brewpubs, Breweries, Food

                                               hours
0                                               None
1  {'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...
2  {'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...
3  {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
4  {'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...

In [15]:
df['attributes'] = df['attributes'].astype(str)
df['hours'] = df['hours'].astype(str)

In [16]:
df_flat = pd.json_normalize(df['attributes'])
df_flat_1 = pd.json_normalize(df['hours'])
df = pd.concat([df, df_flat,df_flat_1,], axis=1).drop(columns=['attributes','hours'])

In [17]:
#df.to_sql(name="business-info", con=engine, if_exists='replace', index=False, chunksize=5000)

In [18]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  categories    150243 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 13.8+ MB

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,"Doctors, Traditional Chinese Medicine, Naturop..."
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,"Shipping Centers, Local Services, Notaries, Ma..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"Department Stores, Shopping, Fashion, Home & G..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"Brewpubs, Breweries, Food"

### Reading Checkin JSON File into Pandas DataFrame

In [19]:
df1 = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json', lines = True)
df1.info()
print(df1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131930 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  131930 non-null  object
 1   date         131930 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB
              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [20]:
df1['date'] = df1['date'].astype(str)
df1['date'] = df1['date'].str.split(', ')
df1 = df1.explode('date', ignore_index=True)

df1.isna().sum()

business_id    0
date           0
dtype: int64

In [21]:
df1['date'] = pd.to_datetime(df1['date'])

In [22]:
df1['date'] = pd.to_datetime(df1['date'])
df1['only_date'] = df1['date'].dt.date
df1['only_time'] = df1['date'].dt.time

In [23]:
df1['business_id'] = df1['business_id'].astype('str') 
df1['date'] = pd.to_datetime(df1['date']) 
df1['only_date'] = pd.to_datetime(df1['only_date']).dt.date 
df1['only_time'] = pd.to_datetime(df1['only_time'], format='%H:%M:%S', errors='coerce').dt.time

In [24]:
#df1.to_sql(name="checkin", con=engine, if_exists='replace', index=False, chunksize=5000)

In [25]:
df1.info()
df1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13356875 entries, 0 to 13356874
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   business_id  object
 1   date         datetime64[ns]
 2   only_date    object
 3   only_time    object
dtypes: datetime64[ns](1), object(3)
memory usage: 407.6+ MB

              business_id                date   only_date only_time
0  ---kPU91CF4Lq2-WlRu9Lw 2020-03-13 21:10:56  2020-03-13  21:10:56
1  ---kPU91CF4Lq2-WlRu9Lw 2020-06-02 22:18:06  2020-06-02  22:18:06
2  ---kPU91CF4Lq2-WlRu9Lw 2020-07-24 22:42:27  2020-07-24  22:42:27
3  ---kPU91CF4Lq2-WlRu9Lw 2020-10-24 21:36:13  2020-10-24  21:36:13
4  ---kPU91CF4Lq2-WlRu9Lw 2020-12-09 21:23:33  2020-12-09  21:23:33

### Reading Review JSON File into Pandas DataFrame

In [26]:
chunksize = 20000
chunk_iter = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json', lines=True, chunksize=chunksize)
df2 = next(chunk_iter)
df2.info()
print(df2.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_id    20000 non-null  object
 1   user_id      20000 non-null  object
 2   business_id  20000 non-null  object
 3   stars        20000 non-null  int64
 4   useful       20000 non-null  int64
 5   funny        20000 non-null  int64
 6   cool         20000 non-null  int64
 7   text         20000 non-null  object
 8   date         20000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 1.4+ MB
                review_id                 user_id             business_id  \
0  KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw
1  BiTunyQ73aT9WBnpR9DZGw  OyoGAe7OKpv6SyGZT5g77Q  7ATYjTIgM3jUlt4UM3IypQ
2  saUsX_uimxRlCVr67Z4Jig  8g_iMtfSiwikVnbP2etR0A  YjUWPpI6HXG530lwP-fb2A
3  AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA
4  Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ  e4Vwtrqf-wpJfwesgvdgxQ

   stars  useful  funny  cool  \
0      3       0      0     0
1      5       1      0     1
2      3       0      0     0
3      5       1      0     1
4      4       1      0     1

                                                text                date
0  If you decide to eat here, just be aware it is... 2018-07-07 22:09:11
1  I've taken a lot of spin classes over the year... 2012-01-03 15:28:18
2  Family diner. Had the buffet. Eclectic assortm... 2014-02-05 20:30:30
3  Wow!  Yummy, different,  delicious.   Our favo... 2015-01-04 00:01:03
4  Cute interior and owner (?) gave us tour of up... 2017-01-14 20:54:15

In [27]:
df2['date'] = pd.to_datetime(df2['date'])

In [28]:
df2['only_date'] = df2['date'].dt.date
df2['only_time'] = df2['date'].dt.time

In [29]:
#for chunk in chunk_iter:
    #chunk.to_sql(name="Business_Review_1", con=engine, if_exists='append', index=False)

In [30]:
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_id    20000 non-null  object
 1   user_id      20000 non-null  object
 2   business_id  20000 non-null  object
 3   stars        20000 non-null  int64
 4   useful       20000 non-null  int64
 5   funny        20000 non-null  int64
 6   cool         20000 non-null  int64
 7   text         20000 non-null  object
 8   date         20000 non-null  datetime64[ns]
 9   only_date    20000 non-null  object
 10  only_time    20000 non-null  object
dtypes: datetime64[ns](1), int64(4), object(6)
memory usage: 1.7+ MB

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,only_date,only_time
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,2018-07-07,22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18,2012-01-03,15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30,2014-02-05,20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,2015-01-04,00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15,2017-01-14,20:54:15

### Reading Tip JSON File into Pandas DataFrame

In [31]:
df3 = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json', lines = True)
df3.info()
print(df3.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908915 entries, 0 to 908914
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           908915 non-null  object
 1   business_id       908915 non-null  object
 2   text              908915 non-null  object
 3   date              908915 non-null  datetime64[ns]
 4   compliment_count  908915 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 34.7+ MB
                  user_id             business_id  \
0  AGNUgVwnZUey3gcPCJ76iw  3uLgwr0qeCNMjKenHJwPGQ
1  NBN4MgHP9D3cw--SnauTkA  QoezRbYQncpRqyrLH6Iqjg
2  -copOvldyKh1qr-vzkDEvw  MYoRNLb5chwjQe3c_k37Gg
3  FjMQVZjSqY8syIO-53KFKw  hV-bABTK-glh5wj31ps_Jw
4  ld0AperBXk1h6UbqmM80zw  _uN0OudeJ3Zl_tf6nxg5ww

                                                text                date  \
0                     Avengers time with the ladies. 2012-05-18 02:17:21
1  They have lots of good deserts and tasty cuban... 2013-02-05 18:35:10
2             It's open even when you think it isn't 2013-08-18 00:56:08
3                          Very decent fried chicken 2017-06-27 23:05:38
4             Appetizers.. platter special for lunch 2012-10-06 19:43:09

   compliment_count
0                 0
1                 0
2                 0
3                 0
4                 0

In [32]:
df3['compliment_count'] = df3['compliment_count'].astype(int)
text_columns = ['user_id', 'business_id', 'text']
for col in text_columns:
    df3[col] = df3[col].astype(str).str[:255]
df3['date'] = pd.to_datetime(df3['date'], errors='coerce')
print(df3.dtypes)

user_id                     object
business_id                 object
text                        object
date                datetime64[ns]
compliment_count             int64
dtype: object

In [33]:
#df3.to_sql(name="tip", con=engine, if_exists='replace', index=False, chunksize=5000)

In [34]:
df3.info()
df3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908915 entries, 0 to 908914
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           908915 non-null  object
 1   business_id       908915 non-null  object
 2   text              908915 non-null  object
 3   date              908915 non-null  datetime64[ns]
 4   compliment_count  908915 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 34.7+ MB

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

### Reading User JSON File into Pandas DataFrame

In [35]:
chunksize = 5000
chunk_iter = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json', lines=True, chunksize=chunksize)
df4 = next(chunk_iter)
df4.info()
print(df4.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             5000 non-null   object
 1   name                5000 non-null   object
 2   review_count        5000 non-null   int64
 3   yelping_since       5000 non-null   object
 4   useful              5000 non-null   int64
 5   funny               5000 non-null   int64
 6   cool                5000 non-null   int64
 7   elite               5000 non-null   object
 8   friends             5000 non-null   object
 9   fans                5000 non-null   int64
 10  average_stars       5000 non-null   float64
 11  compliment_hot      5000 non-null   int64
 12  compliment_more     5000 non-null   int64
 13  compliment_profile  5000 non-null   int64
 14  compliment_cute     5000 non-null   int64
 15  compliment_list     5000 non-null   int64
 16  compliment_note     5000 non-null   int64
 17  compliment_plain    5000 non-null   int64
 18  compliment_cool     5000 non-null   int64
 19  compliment_funny    5000 non-null   int64
 20  compliment_writer   5000 non-null   int64
 21  compliment_photos   5000 non-null   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 859.5+ KB
                  user_id    name  review_count        yelping_since  useful  \
0  qVc8ODYU5SZjKXVBgXdI7w  Walker           585  2007-01-25 16:47:26    7217
1  j14WgRoU_-2ZE1aw1dXrJg  Daniel          4333  2009-01-25 04:35:42   43091
2  2WnXYQFK0hXEoTxPtV2zvg   Steph           665  2008-07-25 10:41:00    2086
3  SZDeASXq7o05mMNLshsdIA    Gwen           224  2005-11-29 04:38:33     512
4  hA5lMy-EnncsH4JoR-hFGQ   Karen            79  2007-01-05 19:40:59      29

   funny   cool                                              elite  \
0   1259   5994                                               2007
1  13066  27281  2009,2010,2011,2012,2013,2014,2015,2016,2017,2...
2   1010   1003                           2009,2010,2011,2012,2013
3    330    299                                     2009,2010,2011
4     15      7

                                             friends  fans  ...  \
0  NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...   267  ...
1  ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...  3138  ...
2  LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...    52  ...
3  enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...    28  ...
4  PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...     1  ...

   compliment_more  compliment_profile  compliment_cute  compliment_list  \
0               65                  55               56               18
1              264                 184              157              251
2               13                  10               17                3
3                4                   1                6                2
4                1                   0                0                0

   compliment_note  compliment_plain  compliment_cool  compliment_funny  \
0              232               844              467               467
1             1847              7054             3131              3131
2               66                96              119               119
3               12                16               26                26
4                1                 1                0                 0

   compliment_writer  compliment_photos
0                239                180
1               1521               1946
2                 35                 18
3                 10                  9
4                  0                  0

[5 rows x 22 columns]

In [36]:
print(df4.dtypes)
compliment_columns = [col for col in df4.columns if 'compliment' in col]
for col in compliment_columns:
    df4[col] = df4[col].astype(float)  
numeric_columns = ['review_count', 'useful', 'funny', 'cool'] 
for col in numeric_columns:
    df4[col] = df4[col].astype(float)
text_columns = ['user_id', 'name', 'friends', 'elite'] 
for col in text_columns:
    df4[col] = df4[col].astype(str).str[:255]
date_columns = ['yelping_since']  
for col in date_columns:
    df4[col] = pd.to_datetime(df4[col], errors='coerce')  
print(df4.dtypes)
print(df4.head())

user_id                object
name                   object
review_count            int64
yelping_since          object
useful                  int64
funny                   int64
cool                    int64
elite                  object
friends                object
fans                    int64
average_stars         float64
compliment_hot          int64
compliment_more         int64
compliment_profile      int64
compliment_cute         int64
compliment_list         int64
compliment_note         int64
compliment_plain        int64
compliment_cool         int64
compliment_funny        int64
compliment_writer       int64
compliment_photos       int64
dtype: object
user_id                       object
name                          object
review_count                 float64
yelping_since         datetime64[ns]
useful                       float64
funny                        float64
cool                         float64
elite                         object
friends                       object
fans                           int64
average_stars                float64
compliment_hot               float64
compliment_more              float64
compliment_profile           float64
compliment_cute              float64
compliment_list              float64
compliment_note              float64
compliment_plain             float64
compliment_cool              float64
compliment_funny             float64
compliment_writer            float64
compliment_photos            float64
dtype: object
                  user_id    name  review_count       yelping_since   useful  \
0  qVc8ODYU5SZjKXVBgXdI7w  Walker         585.0 2007-01-25 16:47:26   7217.0
1  j14WgRoU_-2ZE1aw1dXrJg  Daniel        4333.0 2009-01-25 04:35:42  43091.0
2  2WnXYQFK0hXEoTxPtV2zvg   Steph         665.0 2008-07-25 10:41:00   2086.0
3  SZDeASXq7o05mMNLshsdIA    Gwen         224.0 2005-11-29 04:38:33    512.0
4  hA5lMy-EnncsH4JoR-hFGQ   Karen          79.0 2007-01-05 19:40:59     29.0

     funny     cool                                              elite  \
0   1259.0   5994.0                                               2007
1  13066.0  27281.0  2009,2010,2011,2012,2013,2014,2015,2016,2017,2...
2   1010.0   1003.0                           2009,2010,2011,2012,2013
3    330.0    299.0                                     2009,2010,2011
4     15.0      7.0

                                             friends  fans  ...  \
0  NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...   267  ...
1  ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...  3138  ...
2  LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...    52  ...
3  enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...    28  ...
4  PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...     1  ...

   compliment_more  compliment_profile  compliment_cute  compliment_list  \
0             65.0                55.0             56.0             18.0
1            264.0               184.0            157.0            251.0
2             13.0                10.0             17.0              3.0
3              4.0                 1.0              6.0              2.0
4              1.0                 0.0              0.0              0.0

   compliment_note  compliment_plain  compliment_cool  compliment_funny  \
0            232.0             844.0            467.0             467.0
1           1847.0            7054.0           3131.0            3131.0
2             66.0              96.0            119.0             119.0
3             12.0              16.0             26.0              26.0
4              1.0               1.0              0.0               0.0

   compliment_writer  compliment_photos
0              239.0              180.0
1             1521.0             1946.0
2               35.0               18.0
3               10.0                9.0
4                0.0                0.0

[5 rows x 22 columns]

In [37]:
#for chunk in chunk_iter:
    #chunk.to_sql(name="Business_Review", con=engine, if_exists='append', index=False)

In [38]:
df4.info()
df4.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             5000 non-null   object
 1   name                5000 non-null   object
 2   review_count        5000 non-null   float64
 3   yelping_since       5000 non-null   datetime64[ns]
 4   useful              5000 non-null   float64
 5   funny               5000 non-null   float64
 6   cool                5000 non-null   float64
 7   elite               5000 non-null   object
 8   friends             5000 non-null   object
 9   fans                5000 non-null   int64
 10  average_stars       5000 non-null   float64
 11  compliment_hot      5000 non-null   float64
 12  compliment_more     5000 non-null   float64
 13  compliment_profile  5000 non-null   float64
 14  compliment_cute     5000 non-null   float64
 15  compliment_list     5000 non-null   float64
 16  compliment_note     5000 non-null   float64
 17  compliment_plain    5000 non-null   float64
 18  compliment_cool     5000 non-null   float64
 19  compliment_funny    5000 non-null   float64
 20  compliment_writer   5000 non-null   float64
 21  compliment_photos   5000 non-null   float64
dtypes: datetime64[ns](1), float64(16), int64(1), object(4)
memory usage: 859.5+ KB

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585.0,2007-01-25 16:47:26,7217.0,1259.0,5994.0,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65.0,55.0,56.0,18.0,232.0,844.0,467.0,467.0,239.0,180.0
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333.0,2009-01-25 04:35:42,43091.0,13066.0,27281.0,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264.0,184.0,157.0,251.0,1847.0,7054.0,3131.0,3131.0,1521.0,1946.0
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665.0,2008-07-25 10:41:00,2086.0,1010.0,1003.0,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13.0,10.0,17.0,3.0,66.0,96.0,119.0,119.0,35.0,18.0
3,SZDeASXq7o05mMNLshsdIA,Gwen,224.0,2005-11-29 04:38:33,512.0,330.0,299.0,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4.0,1.0,6.0,2.0,12.0,16.0,26.0,26.0,10.0,9.0
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79.0,2007-01-05 19:40:59,29.0,15.0,7.0,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

## Meta Data Specification

### Business.json

* **business_id:** A 22-character string that uniquely identifies each business, corresponding to entries in business.json.
* **name:** A string representing the name of the business.
* **address:** A string containing the full address of the business.
* **city:** A string representing one of 8 major metropolitan cities in the US or Canada where the business is located.
* **state:** A string indicating the state or province where the city is located.
* **postal_code:** A string representing the postal code of the businesss location.
* **latitude:** A float specifying the latitude of the businesss location.
* **longitude:** A float specifying the longitude of the businesss location.
* **stars:** A float representing the businesss star rating.
* **review_count:** An integer indicating the total number of reviews the business has received.
* **is_open:** An integer (0 or 1) indicating whether the business is closed (0) or open (1).
* **attributes:** A collection of business attributes with their corresponding values; some are nested objects. For example, Business Parking includes options like garage and valet.
* **categories:** An array of strings listing the categories the business belongs to.
* **hours:** An object where each key is a day of the week, and each value is the businesss hours in 24-hour time format.

### Checkin.json

* **business_id**
Description: A unique 22-character string identifying the business associated with each check-in.
Type: VARCHAR(22)
Relation: Maps to the Business dataset (business.json), linking each check-in to a specific business.
* **date**
Description: A comma-separated list of timestamps for each check-in at the business. Each timestamp records the check-in date and time in the format YYYY-MM-DD HH:MM:SS.
Type: TEXT

### Review.json

* **review_id (Primary Key)**
Description: Unique identifier for each review.
Type: VARCHAR(22)
Role: Primary key of the dataset, ensuring each review entry is distinct.
* **user_id**
Description: Identifier of the user who wrote the review.
Type: VARCHAR(22)
Relation: Foreign key linked to the Users dataset, representing the user who authored the review.
* **business_id**
Description: Identifier of the business the review was written for.
Type: VARCHAR(22)
Relation: Foreign key linked to the Business dataset, identifying the business being reviewed.
* **stars**
Description: Star rating given by the user, typically on a scale of 1 to 5.
Type: INTEGER
* **useful**
Description: Number of "useful" votes the review received from other users.
Type: INTEGER
* **funny**
Description: Number of "funny" votes the review received from other users.
Type: INTEGER
* **cool**
Description: Number of "cool" votes the review received from other users.
Type: INTEGER
* **text**
Description: Content of the review written by the user.
Type: TEXT
date
Description: Date when the review was published.
Type: DATE

### Tip.json

* **date:** A string representing the date the tip was written, formatted as YYYY-MM-DD.
compliment_count: An integer indicating the number of compliments the tip has received.
* **business_id:** A 22-character string that uniquely identifies the business associated with the tip, corresponding to entries in business.json.
* **user_id:** A 22-character unique string that identifies the user who wrote the tip, corresponding to entries in user.json

### User.json
 
- **user_id**: A 22-character unique string that identifies each user, linking to entries in `user.json`.
- **name**: A string representing the users first name.
- **review_count**: An integer representing the number of reviews written by the user.
- **yelping_since**: A string showing the date the user joined Yelp, formatted as `YYYY-MM-DD`.
- **friends**: An array of strings containing the `user_ids` of the users friends.
- **useful**: An integer indicating the total number of "useful" votes the user has received.
- **funny**: An integer indicating the total number of "funny" votes the user has received.
- **cool**: An integer indicating the total number of "cool" votes the user has received.
- **fans**: An integer representing the number of fans the user has.
- **elite**: An array of integers listing the years the user was designated as elite.
- **average_stars**: A float showing the average star rating of all reviews written by the user.
- **compliment_hot**: An integer representing the number of "hot" compliments the user has received.
- **compliment_more**: An integer representing the number of "more" compliments the user has received.
- **compliment_profile**: An integer representing the number of "profile" compliments the user has received.
- **compliment_cute**: An integer representing the number of "cute" compliments the user has received.
- **compliment_list**: An integer representing the number of "list" compliments the user has received.
- **compliment_note**: An integer representing the number of "note" compliments the user has received.
- **compliment_plain**: An integer representing the number of "plain" compliments the user has received.
- **compliment_cool**: An integer representing the number of "cool" compliments the user has received.
- **compliment_funny**: An integer representing the number of "funny" compliments the user has received.
- **compliment_writer**: An integer representing the number of "writer" compliments the user has received.
- **compliment_photos**: An integer representing the number of "photo" compliments the user has received.

## SQL Queries

#### 1. What is the average number of Chinese restaurants per city in Pennsylvania?

In [39]:
%%sql
WITH BusinessCounts AS (
    SELECT TOP 10 state, city, COUNT(business_id) AS num_restaurants
    FROM Business_Info
    WHERE categories LIKE '%Restaurants%'
      AND categories LIKE '%Chinese%'
      AND state = 'PA'
    GROUP BY state, city
)
SELECT * FROM BusinessCounts;

 * mssql+pyodbc://gyao6:***@gyao6.database.windows.net:1433/Miniproject-1?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('PA', 'Ardmore', 11),
 ('PA', 'Bensalem', 11),
 ('PA', 'Aston', 3),
 ('PA', 'Ambler', 3),
 ('PA', 'Blue Bell', 4),
 ('PA', 'Bala Cynwyd', 2),
 ('PA', 'Abington', 4),
 ('PA', 'Boothwyn', 2),
 ('PA', 'Berwyn', 4),
 ('PA', 'Aldan', 1)]

#### 2. What are the most common restaurant categories in Philadelphia?

In [40]:
%%sql
SELECT TOP 15 categories, COUNT(*) AS count
FROM Business_info
WHERE city = 'Philadelphia' AND categories LIKE '%Restaurant%'
GROUP BY categories
ORDER BY count DESC;

 * mssql+pyodbc://gyao6:***@gyao6.database.windows.net:1433/Miniproject-1?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('Restaurants, Pizza', 154),
 ('Pizza, Restaurants', 124),
 ('Restaurants, Chinese', 89),
 ('Chinese, Restaurants', 84),
 ('Restaurants, Italian', 43),
 ('Restaurants, Mexican', 42),
 ('Italian, Restaurants', 39),
 ('Mexican, Restaurants', 39),
 ('Restaurants, American (New)', 36),
 ('American (New), Restaurants', 34),
 ('Restaurants, Vietnamese', 25),
 ('Restaurants', 23),
 ('Breakfast & Brunch, Restaurants', 22),
 ('Restaurants, Seafood', 20),
 ('Restaurants, Delis', 19)]

#### 3. Which restaurants in Philadelphia have received the highest total number of "useful" reviews, and how might these totals indicate their influence or popularity among customers?

In [41]:
%%sql
SELECT TOP 10 Business_info.name, SUM(useful) AS total_useful_reviews
FROM Business_Review
JOIN Business_info ON Business_Review.business_id = Business_info.business_id
WHERE Business_info.city = 'Philadelphia' AND Business_info.categories LIKE '%Restaurant%'
GROUP BY Business_info.name
ORDER BY total_useful_reviews DESC;

 * mssql+pyodbc://gyao6:***@gyao6.database.windows.net:1433/Miniproject-1?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('Reading Terminal Market', 4923),
 ("Geno's Steaks", 4592),
 ("Lee's Deli", 4096),
 ("Pat's King of Steaks", 3635),
 ('Vernick Food & Drink', 3054),
 ('Zahav', 2987),
 ('PYT', 2973),
 ('Dim Sum Garden', 2811),
 ('Dalessandros Steaks & Hoagies', 2567),
 ("Gran Caffe L'Aquila", 2501)]

#### 4. Determine the Peak Review Months for Popular Restaurants:

In [42]:
%%sql
SELECT MONTH(date) AS review_month, COUNT(*) AS review_count
FROM Business_Review
JOIN Business_info ON Business_Review.business_id = Business_info.business_id
WHERE Business_info.city = 'Philadelphia' AND Business_info.categories LIKE '%Restaurant%'
GROUP BY MONTH(date)
ORDER BY review_count DESC;

 * mssql+pyodbc://gyao6:***@gyao6.database.windows.net:1433/Miniproject-1?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(8, 49182),
 (7, 48405),
 (1, 48354),
 (3, 46784),
 (5, 44817),
 (9, 44731),
 (2, 44533),
 (6, 44515),
 (10, 44482),
 (4, 43124),
 (11, 41977),
 (12, 41320)]

#### 5. What are the average star ratings and total review counts for other Chinese restaurants in the area?

In [43]:
%%sql
SELECT 
    city,
    state,
    ROUND(AVG(stars),2) AS avg_star_rating,
    SUM(review_count) AS total_review_count
FROM 
    Business_Info
WHERE 
    categories LIKE '%Chinese%' 
    AND city = 'Philadelphia'
GROUP BY 
    city, state;

 * mssql+pyodbc://gyao6:***@gyao6.database.windows.net:1433/Miniproject-1?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('Philadelphia', 'PA', 3.53, 55774)]

#### 6. What is the busiest day and time for Chinese restaurants in Philadelphia?

In [44]:
%%sql
SELECT TOP 10
    DATEPART(WEEKDAY, only_date) AS day_of_week,
    DATEPART(HOUR, only_time) AS hour,
    COUNT(*) AS checkin_count
FROM Business_Checkin c
JOIN Business_Info b ON c.business_id = b.business_id
WHERE b.categories LIKE '%Chinese%'
  AND b.city = 'Philadelphia'
GROUP BY DATEPART(WEEKDAY, only_date), DATEPART(HOUR, only_time)
ORDER BY checkin_count DESC;

 * mssql+pyodbc://gyao6:***@gyao6.database.windows.net:1433/Miniproject-1?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(7, 23, 2669),
 (7, 17, 2432),
 (1, 0, 2403),
 (1, 17, 2367),
 (7, 22, 2336),
 (7, 18, 2322),
 (7, 0, 2233),
 (6, 23, 2211),
 (7, 16, 2193),
 (1, 18, 2182)]

#### 7. Which users are the most frequent reviewers of Chinese restaurants in Philadelphia?

In [45]:
%%sql
SELECT
    TOP 10
    u.user_id,
    u.name,
    COUNT(r.review_id) AS review_count
FROM 
    Business_User u
JOIN 
    Business_Review r ON u.user_id = r.user_id
JOIN 
    Business_Info b ON r.business_id = b.business_id
WHERE 
    b.categories LIKE '%Chinese%' 
    AND b.city = 'Philadelphia'
GROUP BY 
    u.user_id, u.name
ORDER BY 
    review_count DESC;

 * mssql+pyodbc://gyao6:***@gyao6.database.windows.net:1433/Miniproject-1?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('-G7Zkl1wIWBBmD0KRy_sCw', 'Gerald', 47),
 ('itcyGJsassJ0iutr0gBMjg', 'KhanhMy', 43),
 ('6s-g2vFu12OemhiK3FJuOQ', 'Dave', 38),
 ('hQjN1FuYaB4pQACZwfrclw', 'Tiffany', 38),
 ('8EMU7d4pCkdqUnvlIW40CA', 'Jeff', 36),
 ('WuiEYopWZOWOuWQD87fVSw', 'Carol', 31),
 ('bJ5FtCtZX3ZZacz2_2PJjA', 'Bill', 30),
 ('M9f1_TmxxKyaGfLN3kAvbA', 'Marie', 30),
 ('0DB3Irpf_ETVXu_Ou9vPow', 'Abraham', 29),
 ('WO6L5yMX5LEeJuMNMjerRQ', 'Jenny', 28)]

#### 8. What are the average ratings and review counts by neighborhood?

In [46]:
%%sql
SELECT 
    b.postal_code,
    ROUND(AVG(b.stars),2) AS avg_rating,
    AVG(b.review_count) AS avg_review_count
FROM 
    Business_Info b
WHERE 
    b.categories LIKE '%Chinese%' 
    AND b.city = 'Philadelphia'
GROUP BY 
    b.postal_code
ORDER BY 
    avg_rating DESC;

 * mssql+pyodbc://gyao6:***@gyao6.database.windows.net:1433/Miniproject-1?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('19132', 5.0, 9),
 ('19137', 4.5, 11),
 ('19146', 4.2, 33),
 ('19102', 4.06, 164),
 ('19141', 4.0, 12),
 ('19116', 3.88, 41),
 ('19140', 3.88, 8),
 ('19127', 3.88, 94),
 ('19118', 3.86, 77),
 ('19107', 3.76, 257),
 ('19121', 3.71, 22),
 ('19147', 3.69, 68),
 ('19149', 3.64, 33),
 ('19103', 3.59, 122),
 ('19136', 3.5, 32),
 ('19144', 3.5, 21),
 ('19122', 3.5, 162),
 ('19133', 3.5, 11),
 ('19104', 3.48, 122),
 ('19106', 3.46, 275),
 ('19148', 3.46, 52),
 ('19130', 3.45, 88),
 ('19143', 3.44, 52),
 ('19123', 3.43, 36),
 ('19142', 3.38, 7),
 ('19111', 3.38, 16),
 ('19120', 3.33, 23),
 ('19145', 3.33, 36),
 ('19128', 3.28, 73),
 ('19124', 3.25, 30),
 ('19129', 3.25, 80),
 ('19154', 3.25, 53),
 ('19139', 3.17, 33),
 ('19119', 3.17, 23),
 ('19152', 3.14, 14),
 ('19114', 3.11, 22),
 ('19115', 3.06, 24),
 ('19150', 3.0, 11),
 ('19135', 3.0, 20),
 ('19134', 2.96, 16),
 ('19125', 2.83, 33),
 ('19151', 2.83, 13),
 ('19131', 2.82, 48),
 ('19195', 2.75, 12),
 ('19153', 2.67, 19),
 ('19138', 2.5, 14)]

#### 9. What is the trend in review counts over time for Chinese restaurants?

In [47]:
%%sql
SELECT 
    FORMAT(r.date, 'yyyy-MM') AS month,  
    COUNT(r.review_id) AS review_count
FROM 
    Business_Review r
JOIN 
    Business_Info b ON r.business_id = b.business_id
WHERE 
    b.categories LIKE '%Chinese%' 
    AND b.city = 'Philadelphia'
    AND YEAR(r.date) = 2017  
GROUP BY 
    FORMAT(r.date, 'yyyy-MM')  
ORDER BY 
    month;

 * mssql+pyodbc://gyao6:***@gyao6.database.windows.net:1433/Miniproject-1?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('2017-01', 540),
 ('2017-02', 530),
 ('2017-03', 558),
 ('2017-04', 474),
 ('2017-05', 451),
 ('2017-06', 481),
 ('2017-07', 470),
 ('2017-08', 447),
 ('2017-09', 498),
 ('2017-10', 477),
 ('2017-11', 421),
 ('2017-12', 445)]

#### 10. How many reviews mention specific keywords like authentic or spicy?

In [48]:
%%sql
SELECT 
    COUNT(*) AS keyword_count
FROM 
    Business_Review r
JOIN 
    Business_Info b ON r.business_id = b.business_id
WHERE 
    b.categories LIKE '%Chinese%' 
    AND b.city = 'Philadelphia'
    AND r.text LIKE '%authentic%'
    OR r.text LIKE '%spicy%';

 * mssql+pyodbc://gyao6:***@gyao6.database.windows.net:1433/Miniproject-1?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(158628,)]